<br>
<br>
<br>


{% extends 'layout.html'%}{%block title %} Home {% endblock %}{%block content%}
<br>
<div class="container mt-3" id="top" data-wow-duration="1s" data-wow-delay="0.5s" style='background-image: url("static/assets/images/chem2.jpeg");background-color: #686868;height: 500px;background-position: center;background-repeat: no-repeat;background-size: cover;'>
    <center>
        <div class="text-white rounded" style="background-color: rgba(158, 157, 157, 0.8);width:50%;height:50%;font-size: 20px;margin-top: 150px;">
            <h1>SUMAIRU</h1> 
            <p style="font-size: 100%;color: white;">Sumairu adalah aplikasi berbasis web untuk menampilkan data molekul kimia</p> 
          </div>
    </center>
  </div>
<br>
{% endblock %}